@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
	font-family: "Inter", sans-serif;
}

:root {
	--primary-color: #14b8a6;
	--hover-color: #0f9d8b;
	--secondary-color: #636c72;
	--border-color: rgba(4, 32, 69, 0.14);
	--header-color: #efefef;
}

.text-main {
	color: var(--hover-color);
}

.btn {
	border-radius: 8px;
}

.btn:focus {
	box-shadow: none;
}

label[required]::after {
	content: "*";
	color: red;
	margin-left: 2px;
}

.alertify,
.modal.show {
	backdrop-filter: blur(2px);
}

.alertify .alert > *,
.alertify .dialog > * {
	border-radius: 12px;
}

.alertify
	.alert
	nav
	button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button),
.alertify
	.dialog
	nav
	button:not(.btn):not(.pure-button):not(.md-button):not(.mdl-button) {
	border-radius: 8px;
	text-transform: none;
}

.cropper-wrap-box,
.cropper-crop {
	border-radius: 10px;
}

.sample-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.swal2-popup {
	border-radius: 15px !important;
}

.swal2-popup:not(.swal2-toast) .swal2-title {
	font-size: 22px !important;
}

.swal2-content {
	font-size: 18px !important;
}

.swal2-styled {
	border-radius: 8px !important;
}

@media (max-width: 991.98px) {
	.mb-medium-2 {
		margin-bottom: 0.8rem !important;
	}

	.pr-md-normal {
		padding-right: 15px !important;
	}

	.pl-md-normal {
		padding-left: 15px !important;
	}
}

@media (max-width: 767.98px) {
	.mb3 {
		margin-bottom: 1.2rem !important;
	}

	.mb2 {
		margin-bottom: 0.8rem !important;
	}
}

/* HTML: <div class="loader"></div> */
.loader-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.6);
	backdrop-filter: blur(2px);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
}

.loader-overlay.show {
	opacity: 1;
	visibility: visible;
}

.loader-container {
	position: relative;
	width: 100%;
	height: 100%;
	max-width: 600px;
	padding: 0 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.loader-text {
	font-size: 18px;
	font-weight: 500;
	color: #fff;
	text-align: center;
	margin-top: 30px;
}

.loader {
	height: 15px;
	aspect-ratio: 4;
	display: grid;
	position: relative;
	right: 15px;
}

.loader:before,
.loader:after {
	content: "";
	grid-area: 1/1;
	--_g: no-repeat radial-gradient(farthest-side, #fff 100%, #0000);
	background: var(--_g) left, var(--_g) right;
	background-size: 25% 100%;
	animation: l34 1s infinite;
	transform: translate(var(--d, 0)) rotate(0);
}

.loader:after {
	--d: 37.5%;
	animation-delay: 0.5s;
}

@keyframes l34 {
	50%,
	100% {
		transform: translate(var(--d, 0)) rotate(0.5turn);
	}
}

/* =======================================================================
 *  DASHBOARD CUSTOM BOOTSTRAP 4
 * ======================================================================= */

.content-wrapper > .content {
	/* padding: 0; */
}

.brand-image {
	height: 40px;
	width: 40px;
	object-fit: cover;
}

.main-sidebar .nav-link {
	border-radius: 10px;
}

.profile-photo {
	height: 40px;
	width: 40px;
	border-radius: 50%;
	object-fit: cover;
	background-position: center;
}

.user-panel .info {
	line-height: 1.3;
}

.nav-sidebar .nav-header {
	font-weight: 500;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
	background-color: var(--primary-color);
	color: #fff;
}

.btn-sm {
	border-radius: 6px;
}

.user-info {
	display: flex;
	align-items: center;
}

.user-info img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 12px;
}

.user-info .user-name {
	display: flex;
	flex-direction: column;
	font-size: 15px;
	line-height: 1.3;
}

.user-info .user-name a {
	font-size: 12px;
	color: var(--primary-color);
}

.user-info .user-name a:hover {
	text-decoration: underline;
}

table th,
table td {
	vertical-align: middle !important;
	white-space: nowrap;
}

table.not-wrap th,
table.not-wrap td {
	white-space: normal;
}

.small-box {
	border-radius: 10px;
	background-color: #fff;
}

.small-box > .small-box-footer,
.small-box:hover .icon > i {
	transition: .2s all ease-in-out;
}

.small-box:hover > .small-box-footer {
	background-color: var(--hover-color);
}

.small-box:hover .icon > i {
	color: var(--hover-color);
}

.url-slug {
	color: var(--primary-color);
}

.url-slug:hover {
	color: var(--primary-color);
	text-decoration: underline;
}

.report-object #author {
	font-weight: 500;
}

.report-object #date {
	font-size: 14px;
	color: var(--secondary-color);
}

.report-object #content {
	margin-top: 10px;
}

/* =======================================================================
 *  MODAL CUSTOM BOOTSTRAP 4
 * ======================================================================= */

.tox-tinymce {
	border-radius: 8px !important;
}
.tox .tox-dialog,
.tox .tox-dialog__body-nav-item[aria-selected="true"] {
	border-radius: 12px !important;
}

.tox .tox-tbtn {
	border-radius: 6px !important;
}

.tox-statusbar__branding {
	display: none !important;
}

.tox .tox-label,
.tox .tox-toolbar-label {
	margin-bottom: 8px !important;
}

.tox .tox-selectfield {
	margin-bottom: 10px;
}

.tox .tox-selectfield select,
.tox .tox-textarea {
	border-radius: 8px !important;
}

.tox .tox-selectfield select {
	padding-left: 12px !important;
	padding-bottom: 7px !important;
}

.tox .tox-textarea {
	font-family: "Fira Code", monospace !important;
	font-size: 14px !important;
}

.tox .tox-button {
	border-radius: 8px !important;
}

.tox .tox-dialog-wrap__backdrop {
	background-color: transparent !important;
	backdrop-filter: blur(2px);
}

.tox-tinymce-aux,
.tox .tox-dialog__title,
.tox .tox-button {
	font-family: "Inter", sans-serif !important;
}

.tox .tox-listboxfield .tox-listbox--select,
.tox .tox-textarea,
.tox .tox-textfield,
.tox .tox-toolbar-textfield {
	border-radius: 8px !important;
}

.tox .tox-form__group {
	margin-bottom: 10px !important;
}

.tox .tox-label,
.tox .tox-toolbar-label {
	font-weight: 600 !important;
}

/* =======================================================================
 *  SELECT 2 CUSTOM
 * ======================================================================= */

.select2-container .select2-selection--single {
	height: 38px !important;
	border-radius: 8px;
	border: 1px solid var(--border-color) !important;
}

.select2-container--default .select2-selection--single {
	/* height: 38px; */
}

.select2-container--default .select2-selection--single:focus {
	outline: none;
}

.select2-container .select2-selection--multiple {
	/* height: 38px; */
	border-radius: 8px;
	border: 1px solid var(--border-color) !important;
}

.select2-container .select2-search--inline .select2-search__field {
	margin-left: 8px !important;
	margin-top: 6px !important;
	width: 100% !important;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice {
	position: relative;
	border-radius: 8px !important;
}

.select2-container--default.select2-container--focus
	.select2-selection--multiple {
	border: solid var(--border-color) 1px !important;
	outline: 0;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	line-height: 36px !important;
	margin-left: 13px;
}

.select2-container--default
	.select2-results__option--highlighted[aria-selected] {
	background-color: var(--hover-color) !important;
	color: #fff !important;
}

input.select2-search__field.mousetrap::placeholder,
.select2-container--default
	.select2-selection--single
	.select2-selection__placeholder {
	color: #636c72;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__choice__remove {
	color: #fff !important;
}

.select2-container--default
	.select2-selection--multiple
	.select2-selection__clear {
	margin-top: 4px;
}

span.select2-dropdown.select2-dropdown--below {
	border-top: 0 !important;
}

.select2-container--below {
	border: none !important;
	border-radius: 8px !important;
}

.select2-container--bootstrap4.select2-container--focus .select2-selection {
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.select2-container--bootstrap4.select2-container--open.select2-container--above
	.select2-selection {
	border-radius: 0 0 8px 8px !important;
}

.select2-container--default .select2-dropdown.select2-dropdown--above {
	border-bottom: 0 !important;
	overflow: hidden;
}

.select2-container--default .select2-dropdown.select2-dropdown--below {
	overflow: hidden;
	border-color: var(--border-color);
}

.select2-container--default .select2-search--dropdown .select2-search__field {
	border-color: var(--border-color);
	outline: none;
}

.select2-container--default .select2-results__group {
	text-transform: uppercase !important;
	font-weight: bold;
}

.select2 {
	outline: none !important;
}

span.select2-selection__rendered {
	outline: none !important;
}

.select2-container--bootstrap4
	.select2-selection--multiple
	.select2-search__field {
	border: none !important;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__clear {
	bottom: 0.5px;
	right: 10px;
}

.select2-container--default
	.select2-selection--single
	.select2-selection__arrow {
	height: 35px !important;
	right: 10px !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 0 !important;
}

/* =======================================================================
 *  MODAL CUSTOM BOOTSTRAP 4
 * ======================================================================= */

.modal-content {
	border-radius: 10px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.11);
}

.modal-footer,
.modal-header {
	background-color: #f1f1f1;
	border-color: var(--border-color);
}

.modal-footer {
	border-radius: 0 0 10px 10px;
}

.modal-header {
	border-radius: 10px 10px 0 0;
	display: flex;
	align-items: center;
}

.modal-info {
	line-height: 1;
	margin-left: 8px;
}

.modal-footer > * {
	margin-right: 0.1rem;
	margin-left: 0.1rem;
}

.modal-backdrop {
	z-index: 1048;
}

.modal-header-responsive {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	position: relative;
}

/* =======================================================================
 *  DROPDOWN CUSTOM BOOTSTRAP 4
 * ======================================================================= */

.dropdown-item.active,
.dropdown-item:active {
	background-color: #f1f1f1;
	color: var(--secondary-color);
}

.dropdown-toggle::after,
.dropleft .dropdown-toggle::before {
	display: none;
}

.dropdown-menu-lg {
	min-width: 280px;
}

.dropdown-menu-md {
	min-width: 240px;
}

.dropdown-menu {
	border-radius: 14px;
	top: 45px;
	overflow: hidden;
}

.dropdown-header {
	background: var(--header-color);
	position: relative;
	bottom: 8px;
	font-weight: 500;
}

.dropdown-toggle figure {
	margin: 0;
}

/* =======================================================================
 *  CUSTOM CARD BOOTSTRAP
 * ======================================================================= */

.card {
	background-color: #f1f2f6;
	border-radius: 10px;
	box-shadow: none;
	border: 1px solid var(--border-color);
}

.card.section-bg {
	background-color: #fefeff;
	border-radius: 12px;
}

.card:not(:has(.card-footer)).notif {
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.15);
}

.card:has(.card-header):has(.card-body):has(.card-footer) .card-header {
	border-radius: 10px 10px 0 0;
}

.card:not(:has(.card-footer)) .card-header {
	border-radius: 10px 10px 0 0;
}

.card:not(:has(.card-body)) .card-header {
	border-bottom: none;
	border-radius: 10px;
}

.card:not(:has(.card-body)) .card-footer {
	border-top: none;
	border-radius: 10px;
}

.card:not(:has(.card-footer)) .card-body {
	border-radius: 0 0 10px 10px;
}

.card:not(:has(.card-header)) .card-body {
	border-radius: 10px 10px 0 0;
}

.card:not(:has(.card-header)):not(:has(.card-footer)) .card-body {
	border-radius: 10px;
}

.card:not(:has(.card-body)):not(:has(.card-footer)) .card-header {
	border-radius: 10px;
	background-color: #fff;
}

.card:not(:has(.card-header)):not(:has(.card-body)) .card-footer {
	border-radius: 10px;
	background-color: #fff;
}

.card:has(.card-header):has(.card-body) .card-footer,
.card:not(:has(.card-header)):has(.card-body) .card-footer {
	border-radius: 0 0 10px 10px;
}

.card-header {
	background-color: var(--header-color);
	border-bottom: 1px solid var(--border-color);
	font-weight: 500;
	color: var(--secondary-color);
}

.card-body {
	background-color: #fff;
}

.card-footer {
	background-color: var(--header-color);
	border-top: 1px solid var(--border-color);
}

.card:not(:has(.card-footer)) .card-header:is(.accordion) {
	border-radius: 10px;
	background-color: var(--primary-color);
	border-color: transparent;
}

.card:not(:has(.card-footer)) .card-header:is(.accordion) a {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	color: #fff;
	font-weight: 600;
}

.card:not(:has(.card-footer)) .card-header:is(.accordion) a i {
	position: absolute;
	right: 5px;
	rotate: 0;
	transition: all 0.3s ease-in-out;
}

.card:not(:has(.card-footer))
	.card-header:is(.accordion)
	a[aria-expanded="true"]
	i {
	rotate: 180deg;
}

/* =======================================================================
 *  CUSTOM INPUT BOOTSTRAP
 * ======================================================================= */

.form-group label {
	font-size: 15px;
	font-weight: 600;
	color: var(--secondary-color);
}

.form-control,
.custom-select,
.custom-file-label {
	border-radius: 8px;
	border: 1px solid var(--border-color);
	box-shadow: none;
	font-size: 16px;
	color: var(--secondary-color);
	transition: all 0.1s ease-in-out;
}

.form-control:focus,
.custom-select:focus {
	border-color: var(--primary-color);
	box-shadow: 0 0 0 0.2rem rgba(20, 184, 166, 0.25);
}

.custom-file-label,
.custom-file-label::after {
	padding: 0.475rem 0.75rem;
	font-weight: 400 !important;
}

.form-check-label,
.form-check-input {
	cursor: pointer;
}

/* =======================================================================
*  NAV PILLS CUSTOM BOOTSTRAP
* ======================================================================= */

.nav-pills:not(.nav-sidebar) {
	overflow-x: auto;
	overflow-y: hidden;
	flex-wrap: nowrap;
}

.nav-pills:not(.nav-sidebar) .nav-link {
	border-radius: 8px;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 500;
	color: var(--secondary-color);
	transition: all 0.1s ease-in-out;
	white-space: nowrap;
}

.nav-pills:not(.nav-sidebar) .nav-link:hover {
	color: var(--primary-color);
}
.nav-pills:not(.nav-sidebar) .nav-link.active {
	background-color: var(--primary-color);
	color: #fff;
}
